<!DOCTYPE html>
<html>
<head>
  <title>Mental Load Report</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col items-center py-10 px-4">
  <div class="w-full">
    <div id="submitBar" class="mt-6">
      <button id="submitButton" type="button" class="w-full bg-[#683AC2] text-white font-semibold rounded-lg py-3 hover:bg-indigo-700 transition">
        Submit
      </button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
